<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="altiusTestSuite">
   <test  name="Browserlaunching"   >
    <classes>
      <class name="com.altius.automation.Loginpage"/>
    </classes>
  </test>  

  <!-- <test  name="login">
    <classes>
      <class name="com.altius.automation.Allergy"/>
    </classes>
  </test>  -->
</suite> <!-- Suite -->
